#skills {
    width: fit-content;
    margin-top: 1em;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    opacity: 0.9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5) inset;
}

.skill {
    display: flex;
    align-items: center;
}

.skill-icon {
    width: var(--skill-icon-width);
    height: var(--skill-icon-height);
    font-size: var(--skill-icon-font-size);
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-icon img {
    width: var(--skill-icon-width);
}

.progress-bar {
    padding: 0;
    border-radius: 3px;
    position: relative;
    width: var(--progressbar-width);
    transform: translateY(-5px);
}

.percent_word {
    font-size: calc(var(--skill-icon-width) - 10.5px);
    display: inline-block;
    position: relative;
    width: var(--progressbar-width);
    color: white;
    text-align: end;
    background-image: url("res/walk.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    animation: progress-bar 5s;
}

.percent {
    display: block;
    height: calc(var(--skill-icon-width) - 20.5px);
    border-radius: 3px;
    background: linear-gradient(135deg, transparent, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, .1) 66%, transparent 66%), linear-gradient(to bottom, rgba(255, 255, 255, .25), rgba(0, 0, 0, .2)), linear-gradient(to right, #09c, #f44);
    animation: progress-bar 5s;
}