:root {
    --header-height: 142px;
    /* --section-max-width: 575px; */
    --footer-height: 60px;
    --color: #b0c0c2;
    --skill-icon-font-size: 30px;
    --skill-icon-width: 28px;
    --skill-icon-height: 40px;
    --progressbar-width: 150px;
    --article-max-width: 680px;
    --bg-color: #333735;
}

@media screen and (min-width: 576px) {
    :root {
        --title-height: 92px;
        --header-height: 142px;
        --section-max-width: 1400px;
        --footer-height: 60px;
        --skill-icon-font-size: 50px;
        --skill-icon-width: 37.5px;
        --skill-icon-height: 70px;
        --progressbar-width: 450px;
    }
}

@keyframes bg-bigsized-word-effect {

    0%,
    20% {
        transform: translateY(100px) scale(0.9);
        opacity: 0;
    }

    70%,
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

@keyframes bg-midsized-word-effect {

    0%,
    20% {
        transform: translateX(100px) scale(0.9);
        opacity: 0;
    }

    70%,
    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}

/* navbar menu string effect */
@keyframes menu-effect-string {

    0%,
    100% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-10px);
    }
}

/* navbar menu underscore effect */
@keyframes progress-bar {
    0% {
        width: 0;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Neue Haas Grotesk W01 Disp', Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    color: #b0c0c2;
}

a {
    text-decoration: none;
}

.bg-color {
    background: var(--bg-color);
}

header {
    position: fixed;
    top: 0;
    width: calc(100vw - 20px);
    display: flex;
    justify-content: center;
    height: var(--header-height);
    background-attachment: fixed;
}

.nav-wrapper {
    flex-basis: 1400px;
    max-width: 1400px;
}

#main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title1 {
    font-family: Caveat;
    font-size: 40px;
    margin-bottom: -0.733cm;
}

#title2 {
    font-family: Mitr;
    font-size: 50px;
    color: #0a8672;
    margin-bottom: -10px;
}

.right-nav {
    font-family: 'Baloo Chettan 2';
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.btn-wrapper {
    height: 50px;
    margin: 0 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hover-wrapper {
    position: absolute;
    height: 50px;
    background: rgba(255, 255, 255, 0);
    border-radius: 5px;
    transform: scale(1.2);
    transition: all 1s;
}

.hover-wrapper:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.2);
}

.hover-wrapper:hover+.menu-icon {
    color: white;
}

.menu-icon {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 25px;
    color: var(--color);
}

/* navbar menu string */
.string {
    width: 100%;
    font-size: 0.9em;
    color: var(--color);
    text-align: center;
}

@media screen and (min-width: 576px) {
    .right-nav {
        font-family: 'Baloo Chettan 2';
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding-right: 30px;
    }

    .btn-wrapper {
        margin: 0 10px;
    }

    .hover-wrapper {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    .string {
        width: 100%;
        padding: 5px;
        font-size: 1.2em;
        color: var(--color);
        text-align: center;
        transition: color 0.5s 0.1s;
    }

    /* navbar menu highlight */
    .painting {
        width: 0;
        height: 5px;
        background-color: rgb(71, 119, 117);
        border-radius: 3px;
        transition: width 0.5s 0.1s;
        transform: translateY(-5px);
    }

    .string:hover {
        color: white;
        font-weight: 600;
    }

    /* animation effect when hover over the menu */
    .string:hover+.painting {
        width: 100%;
        background-color: rgb(71, 119, 117);
    }
}

/* current menu */
.cur-category {
    color: aqua;
    font-weight: 900;
}

/* big word background grid area setting */
aside {
    position: fixed;
    top: var(--header-height);
    display: grid;
    grid-template-columns: minmax(10vw, 30vw) max-content;
    grid-template-rows: 1fr min-content 2em;
    height: calc(100vh - var(--header-height) - var(--footer-height));
    z-index: -1;
}

aside h1 {
    letter-spacing: -0.04em;
    display: contents;
}

aside div {
    font-weight: 500;
    font-size: 1.1rem;
    display: block;
}

#bg-big-word {
    font-size: calc(5rem + 10vw);
    color: #A1A48C;
    margin-left: -0.16em;
    align-self: flex-end;
    grid-area: 2 / 1 / 3 / 3;
}

.fade-in-bg-big-word {
    animation: bg-bigsized-word-effect 5s 1;
}

.fade-out-bg-big-word {
    opacity: 0;
    animation: bg-bigsized-word-effect 3s 1 reverse;
}

#bg-mid-word {
    font-size: calc(5rem + 5vw);
    color: #E5E1D5;
    margin-left: -0.07em;
    align-self: flex-end;
    grid-area: 2 / 2 / -1 / -1;
}

.fade-in-bg-mid-word {
    animation: bg-midsized-word-effect 5s 1;
}

.fade-out-bg-mid-word {
    opacity: 0;
    animation: bg-midsized-word-effect 3s 1 reverse;
}

main {
    margin-top: var(--header-height);
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-big {
    flex-direction: column;
    align-items: center;
}

article {
    display: block;
    color: #b0c0c2;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10px;
    width: 100%;
}

.article-one-column {
    max-width: 750px;
    width: 100%;
}

.article-multi-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article h1 {
    font-size: 30px;
    font-weight: normal;
}

@media screen and (min-width: 576px) {
    article h1 {
        font-size: 40px;
    }
}

article p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1em;
    font-size: 21px;
    font-weight: 100;
    line-height: 1.58;
}

.post {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
    margin: 2em;
    padding: 10px;
    background-color: #535c57;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .5) inset;
}

.post h2 {
    align-self: center;
    font-weight: 100;

}

.post img {
    align-self: center;
    max-width: 100%;
}

.post p {
    font-size: 1em;
}









#type-writers {
    margin-top: 5vh;
    transform: translateX(-8.2em);
    font-weight: normal;
    padding: 0 10px;
}

/* type writer animations that take turns */
@keyframes type-writing-first {

    0%,
    50%,
    100% {
        width: 0;
    }

    10%,
    40% {
        width: 11.4em;
    }
}

@keyframes type-writing-second {

    0%,
    50%,
    100% {
        width: 0;
    }

    60%,
    90% {
        width: 13.5em;
    }
}

@keyframes caret-first {

    0%,
    12.5%,
    17.5%,
    22.5%,
    27.5%,
    32.5%,
    37.5%,
    50%,
    100% {
        opacity: 0;
    }

    1%,
    10%,
    15%,
    20%,
    25%,
    30%,
    35%,
    40% {
        opacity: 1;
    }
}

@keyframes caret-second {

    0%,
    62.5%,
    67.5%,
    72.5%,
    77.5%,
    82.5%,
    87.5%,
    100% {
        opacity: 0;
    }

    50%,
    60%,
    65%,
    70%,
    75%,
    80%,
    85%,
    90% {
        opacity: 1;
    }
}

.type-writer {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.9em;
    font-weight: normal;
}

.type-first {
    animation: type-writing-first 20s infinite;
    animation-timing-function: steps(25, end);
}

.type-second {
    color: aqua;
    animation: type-writing-second 20s infinite;
    animation-timing-function: steps(25, end);
}

.type-writer::after {
    content: "|";
    right: 0;
}

.type-first::after {
    animation: caret-first 20s infinite;
    animation-timing-function: steps(1, end);
}

.type-second::after {
    animation: caret-second 20s infinite;
    animation-timing-function: steps(1, end);
}

.links-icon {
    margin: 5px;
}

@media screen and (min-width: 576px) {
    #bg-big-word {
        font-size: calc(5rem + 20vw);
    }

    #bg-mid-word {
        font-size: calc(5rem + 10vw);
    }

    .links-icon {
        margin: 30px;
    }
}

.links-icon-background {
    width: 45px;
    height: 45px;
    background: inherit;
    border-radius: 50%;
    font-size: 25px;
    padding-left: 12px;
    color: #00cccc;
    display: flex;
    align-items: center;
    transform: scale(1);
    transition: all 1s;
}

.links-icon-background:hover {
    background: rgb(91, 116, 187);
    transform: scale(1.3);
}

.to-left {
    padding-left: 10px;
}

.to-right {
    padding-left: 15px;
}

.to-little-right {
    padding-left: 13px;
}

.to-top {
    transform: translateY(-3px);
}

.color-aqua {
    color: aqua;
}

#skills {
    width: fit-content;
    margin-top: 1em;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    opacity: 0.9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5) inset;
}

.skill {
    display: flex;
    align-items: center;
}

.skill-icon {
    width: var(--skill-icon-width);
    height: var(--skill-icon-height);
    font-size: var(--skill-icon-font-size);
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-icon img {
    width: var(--skill-icon-width);
}

.progress-bar {
    padding: 0;
    border-radius: 3px;
    position: relative;
    width: var(--progressbar-width);
    transform: translateY(-5px);
}

.percent_word {
    font-size: calc(var(--skill-icon-width) - 10.5px);
    display: inline-block;
    position: relative;
    width: var(--progressbar-width);
    color: white;
    text-align: end;
    background-image: url("res/walk.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    animation: progress-bar 5s;
}

.percent {
    display: block;
    height: calc(var(--skill-icon-width) - 20.5px);
    border-radius: 3px;
    background: linear-gradient(135deg, transparent, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, .1) 66%, transparent 66%), linear-gradient(to bottom, rgba(255, 255, 255, .25), rgba(0, 0, 0, .2)), linear-gradient(to right, #09c, #f44);
    animation: progress-bar 5s;
}

footer {
    position: fixed;
    display: flex;
    bottom: 0px;
    width: calc(100vw - 20px);
    height: var(--footer-height);
    justify-content: center;

}

.flexible-footer {
    position: relative;
    background: none;
}

/* links to github, linkedIn, twitter and facebook*/
.links {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}


/* For contact only */
.contact-wrapper, .btn-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 30px;
}

form .contact-icon {
    display: none;
}

form input, form textarea {
    padding: 0.4em 0.4em 0.2em;
    font-family: 'Neue Haas Grotesk W01 Disp', Helvetica, sans-serif;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset;
    width: 80vw;    
}

@media screen and (min-width: 576px) {
    form input, form textarea {
        width: min(680px, 70vw);
    }

    form .contact-icon {
        display: inline-block;
        font-size: 1.5em;
        color: white;
        margin-right: 10px;
        width: 30px;
    }
}

#message {
    height: 100px;
    text-align: start;
    overflow-wrap: break-word;
}

form button {
    background: var(--color);
    padding: 6px;
    color: var(--bg-color);
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
}